<div class="main-nav-bar">

    <div class="main-nav-bar-section" id="logo-section-nav">

        <!--Logo and title-->

        <div class="container-logo-title">

            <a routerLink="/home">

                <img src="logos/main-logo.jpg" alt="logo" id="logo-main-nav"/>

            </a>

            

            <h1 class="hero-nav-main">F&M Sports</h1>

        </div>

    </div>

    <!--Navigation options-->
        <div class="main-nav-bar-section">

            <ul>
                
                <a routerLink="/products"><li>Productos</li></a>
                <li>Exporte inventario</li>
                <li>Generar factura</li>
                



            </ul>


        </div>


</div>