<div class="produts-main-container">
    <div class="products-page-layout">
        <div class="layout-section" id="title-section">
            <h1>Gestion de Productos</h1>
        </div>

        <div class="layout-section" id="utils-section">

            <div class="utils-component" id="filter-manager">

                <filter-manager (filterChange)="onFilterChange($event)"></filter-manager>

            </div>
            <div class="utils-component" id="utils-crud">
                <div class="dropdown-custom">
                    <div class="dropdown-btn" [class.open]="isDropdownOpen" (click)="toggleDropdown()">
                        <span>{{ selectedOption }}</span>
                        <span class="arrow">▼</span>
                    </div>

                    <div class="dropdown-list" [class.open]="isDropdownOpen">
                        <div class="dropdown-item" (click)="selectOption('Crear producto')">
                            <span class="icon">📋</span>
                            <span>Crear producto</span>
                        </div>

                        <div class="dropdown-item" (click)="selectOption('Editar producto')">
                            <span class="icon">✏️</span>
                            <span>Editar Producto</span>
                        </div>

                        <div class="dropdown-item" (click)="selectOption('Eliminar producto')">
                            <span class="icon">🗑️</span>
                            <span>Eliminar producto</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="layout-section" id="display-products-section">

            <!-- state: loading -->
            <div *ngIf="loading" class="loading">
                <h2>Cargando productos...</h2>
            </div>

            <!--state: error -->
            <div *ngIf="error && !loading" class="error">
                <h2>{{ error }}</h2>
            </div>

            <!-- state: success -->
            <div *ngIf="!loading && !error" class="products-grid">
                <div *ngFor="let product of filteredProducts" class="product-card">
                    <h3>{{ product.productName }}</h3>
                    <p>{{ product.productReference }}</p>
                    <p>{{ product.productPrice | currency }}</p>
                </div>
            </div>

            <!-- state: empty -->
            <div *ngIf="!loading && !error && filteredProducts.length === 0">
                <h2>There are not products</h2>
            </div>

        </div>
    </div>
</div>